@model ClienteTotalModel

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-the-mask@0.11.1/dist/vue-the-mask.js"></script>

    <script>

        Vue.use(VueTheMask);
        new Vue({
            el: '#formIncluirCliente',
            data: {
                phone: '',
                cellphone: '',
                postalCode: ''
            }
        });

        async function buscarEnderecoPorCEP() {
            const cep = document.getElementById("postalCode").value;

            try {
                const response = await fetch(`/Clientes/BuscarEnderecoPorCEP?cep=${cep}`);
                if (response.ok) {
                    const endereco = await response.json();

                    if (endereco) {
                        document.getElementById("street").value = endereco.street;
                        document.getElementById("city").value = endereco.city;
                        document.getElementById("neighborhood").value = endereco.neighborhood;

                        const stateSelect = document.getElementById("state");
                        stateSelect.value = endereco.state;
                    } else {
                        document.getElementById("street").value = "Endereço não encontrado !!!";
                        document.getElementById("city").value = "";
                        document.getElementById("state").value = "";
                        document.getElementById("neighborhood").value = "";
                    }
                } else {
                    document.getElementById("street").value = "Erro ao buscar endereço por CEP !!!";
                    document.getElementById("city").value = "";
                    document.getElementById("state").value = "";
                    document.getElementById("neighborhood").value = "";
                }
            } catch (error) {
                document.getElementById("street").value = "Erro ao buscar endereço por CEP !!!";
                document.getElementById("city").value = "";
                document.getElementById("state").value = "";
                document.getElementById("neighborhood").value = "";
            }
        }

        (function () {
            'use strict';

            var forms = document.querySelectorAll('.login-form');

            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        var cpfInput = form.querySelector('[asp-for="taxPayerId"]');
                        var cpfValue = cpfInput.value;

                        if (!form.checkValidity() || !isValidCPF(cpfValue)) {
                            event.preventDefault();
                            event.stopPropagation();

                            if (!isValidCPF(cpfValue)) {
                                var cpfErrorSpan = form.querySelector('[asp-validation-for="taxPayerId"]');
                                cpfErrorSpan.innerText = "CPF inválido.";
                                cpfErrorSpan.classList.add('text-danger');
                            }
                        }

                        form.classList.add('was-validated');
                    }, false);
                });
        })();

        function CpfCnpjVisibilidade() {
            var personType = document.getElementById('personType').value;
            var divCPF = document.getElementById('divCPF');
            var divCNPJ = document.getElementById('divCNPJ');

            if (personType === 'LEGAL_ENTITY') {
                divCPF.style.display = 'none';
                divCNPJ.style.display = 'block';
            } else {
                divCNPJ.style.display = 'none';
                divCPF.style.display = 'block';
            }
        }

        // Chamar a função no carregamento da página
        window.onload = function () {
            CpfCnpjVisibilidade();
        };
    </script>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="shadow-lg mb-0 pt-2 pb-2 bg-white rounded col-md-12">
            <div class="login-card">
                <div class="card-header">Incluir Cliente</div>
                <div class="login-form">
                    <form class="login-form row g-3" asp-controller="Clientes" asp-action="IncluirCliente" id="formIncluirCliente" method="post" novalidate>

                        <div class="row mt-3">
                            <div class="col-4">
                                <label class="label small" asp-for="personType">Pessoa</label>
                                <select asp-for="personType" id="personType" class="form-select form-select-sm" onchange="CpfCnpjVisibilidade()">
                                    @foreach (var tipoPessoa in ViewBag.TipoPessoa as List<SelectListItem>)
                                    {
                                        <option value="@tipoPessoa.Value">@tipoPessoa.Text</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="label small" asp-for="companyName">Razão</label>
                            <input type="text" class="form-control form-control-sm input" asp-for="companyName" name="companyName" required maxlength="50">
                            <span class="text-danger small" style="font-size: smaller;" asp-validation-for="companyName"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="label small" asp-for="tradingName">Fantasia</label>
                            <input type="text" class="form-control form-control-sm input" asp-for="tradingName" name="tradingName" required maxlength="40">
                            <span class="text-danger small" style="font-size: smaller;" asp-validation-for="tradingName"></span>
                        </div>

                        <div class="col-6">
                            <label class="label small" asp-for="street">Endereço</label>
                            <input type="text" class="form-control form-control-sm" asp-for="street" required maxlength="60">
                            <span class="text-danger small" style="font-size: smaller;" asp-validation-for="street"></span>
                        </div>
                        <div class="col-2">
                            <label class="label small" asp-for="houseNumber">Número</label>
                            <input type="text" class="form-control form-control-sm" asp-for="houseNumber" v-mask="'#####'" required>
                            <span class="text-danger small" style="font-size: smaller;" asp-validation-for="houseNumber"></span>
                        </div>
                        <div class="col-4">
                            <label class="label small" asp-for="complement">Complemento</label>
                            <input type="text" class="form-control form-control-sm" asp-for="complement" maxlength="60">
                        </div>

                        <div class="col-md-3">
                            <label class="label small" asp-for="postalCode">CEP</label>
                            <input type="text" class="form-control form-control-sm" asp-for="postalCode" v-mask="'#####-###'" onblur="buscarEnderecoPorCEP()">
                            <span class="text-danger small" style="font-size: smaller;" asp-validation-for="postalCode"></span>
                        </div>
                        <div class="col-md-3">
                            <label class="label small" asp-for="city">Cidade</label>
                            <input type="text" class="form-control form-control-sm" asp-for="city" required maxlength="40">
                            <span class="text-danger small" style="font-size: smaller;" asp-validation-for="city"></span>
                        </div>
                        <div class="col-md-3">
                            <label class="label small" asp-for="neighborhood">Bairro</label>
                            <input type="text" class="form-control form-control-sm" asp-for="neighborhood" required maxlength="40">
                            <span class="text-danger small" style="font-size: smaller;" asp-validation-for="neighborhood"></span>
                        </div>
                        <div class="col-md-3">
                            <label class="label small" asp-for="state">UF</label>
                            <select asp-for="state" class="form-select form-select-sm">
                                <option value="">Escolha...</option>
                                @foreach (var estado in ViewBag.EstadosBrasileiros as List<SelectListItem>)
                                {
                                    <option value="@estado.Value">@estado.Text</option>
                                }
                            </select>
                            <span class="text-danger small" style="font-size: smaller;" asp-validation-for="state"></span>
                        </div>

                        <div class="col-6" id="divCPF">
                            <label class="label small" asp-for="cpf">CPF</label>
                            <input type="text" class="form-control form-control-sm" asp-for="cpf" required v-mask="'###.###.###-##'" id="taxPayerId">
                            <span class="text-danger small" style="font-size: smaller;" asp-validation-for="cpf"></span>
                        </div>

                        <div class="col-6" id="divCNPJ" style="display:none">
                            <label class="label small" asp-for="cnpj">CNPJ</label>
                            <input type="text" class="form-control form-control-sm" asp-for="cnpj" required v-mask="'###.###.###/####-##'" id="taxPayerId">
                            <span class="text-danger small" style="font-size: smaller;" asp-validation-for="cnpj"></span>
                        </div>

                        <div class="col-6">
                            <label class="label small" asp-for="identificationCard">RG</label>
                            <input type="text" class="form-control form-control-sm" asp-for="identificationCard" required maxlength="15">
                            <span class="text-danger small" style="font-size: smaller;" asp-validation-for="identificationCard"></span>
                        </div>

                        <div class="col-md-6">
                            <label class="label small" asp-for="phone">Telefone</label>
                            <input type="text" class="form-control form-control-sm" asp-for="phone" v-mask="'(##) ####-####'">
                        </div>
                        <div class="col-md-6">
                            <label class="label small" asp-for="cellphone">Celular</label>
                            <input type="text" class="form-control form-control-sm" asp-for="cellphone" v-mask="'(##) #####-####'">
                        </div>

                        <div class="col-md-6">
                            <label class="label small" asp-for="email">Email</label>
                            <input type="email" class="form-control form-control-sm" asp-for="email" maxlength="100">
                        </div>
                        <div class="col-md-6">
                            <label class="label small" asp-for="website">Site</label>
                            <input type="text" class="form-control form-control-sm" asp-for="website" maxlength="50">
                        </div>

                        <div class="row col-5 mt-2">
                            <div class="col-2">
                                <button type="submit" class="btn btn-outline-success btn-sm">Gravar</button>
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="window.location.href='@Url.Action("Index", "Clientes")'">Cancelar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

