@model ClienteFiltroModel

<h1>Clientes</h1>

@section Scripts {
    @* Paginação *@
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $('#clientesTable').DataTable({
                "language": {
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Próximo"
                    },
                    "lengthMenu": "Exibir _MENU_ registros por página",
                    "info": "Exibindo _START_ a _END_ de _TOTAL_ registros",
                    "infoEmpty": "Sem registros disponíveis",
                    "infoFiltered": "(filtrado de _MAX_ registros totais)",
                    "search": "Pesquisar:"
                },
                "searching": false,                                 // Desabilita a função de pesquisa
                "lengthMenu": [[8, 10, 20, 50], [8, 10, 20, 50]],   // Define as opções de número de registros por página
                "pageLength": 8                                     // Define o número padrão de registros por página
            });
        });
    </script>

    @* Validação de campos *@
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-the-mask@0.11.1/dist/vue-the-mask.js"></script>
    <script>
        Vue.use(VueTheMask);
        new Vue({
            el: '#formIncluirCliente'
        });
    </script>
}

@* Botao incluir Cliente *@
<style>
    #botaoredondoincluir {
        color: grey;
        background: white;
        font-size: 70px;
        font-family: serif;
        position: absolute;
        top: 70px;
        right: 30px;
    }
</style>

@* Botao incluir Cliente *@
<div id="botaoredondoincluir">
    <a href="@Url.Action("IncluirCliente", "Clientes")" class="btn btn-outline-primary btn-sm" style="border-radius: 50%; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;">
        <i class="fas fa-plus" style="color: blue;"></i>
    </a>
</div>

<!-- Modal de Confirmação de Exclusão -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>

            <div class="modal-body">Você tem certeza que deseja excluir o cliente <strong id="clientName"></strong>?</div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form id="deleteForm" method="post">
                    <input type="hidden" name="id" id="clientId">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-2">
        <div class="d-flex justify-content-start">

            <!-- Botão de Pesquisa -->
            <form class="d-flex me-2" asp-controller="Clientes" asp-action="ListFiltroClientes">
                <div style="width: 200px; margin-right: 5px;">
                    <input type="text" class="form-control form-control-sm input" placeholder="CPF/CNPJ" asp-for="cpfCnpj" name="cpfCnpj" maxlength="20">
                </div>
                <div style="margin: 0px;">
                    <button class="btn btn-outline-success btn-sm" type="submit">Pesquisar</button>
                </div>
            </form>

            <div style="margin: 0px;">
                <a class="btn btn-outline-primary btn-sm " data-bs-toggle="collapse" href="#collapseFiltro" role="button" aria-expanded="false" aria-controls="collapseExample">Abrir Filtros</a>
            </div>

            <div style="margin-left: 5px;">
                <a href="/home" class="btn btn-outline-danger btn-sm">Fechar</a>
            </div>
        </div>
    </div>
</div>

<div class="collapse mt-2" id="collapseFiltro">

    <div class="card mt-1 mb-2">
        <div class="card-header">Filtrado por</div>
        <div class="card-body">

            <form class="row g-3" asp-controller="Clientes" asp-action="ListFiltroClientes" id="formFiltroCliente" method="post" novalidate>

                <div class="row col-12">
                    <div class="col-1">
                        <label class="label small" asp-for="empresa">Empresa</label>
                        <input type="text" class="form-control form-control-sm input" asp-for="empresa" name="empresa" maxlength="10">
                    </div>
                    <div class="col-1">
                        <label class="label small" asp-for="codigo">Código</label>
                        <input type="text" class="form-control form-control-sm input" asp-for="codigo" name="codigo" maxlength="10">
                    </div>

                    <div class="col-3">
                        <label class="label small" asp-for="companyName">Razão</label>
                        <input type="text" class="form-control form-control-sm input" asp-for="companyName" name="companyName" maxlength="50">
                    </div>
                    <div class="col-3">
                        <label class="label small" asp-for="tradingName">Fantasia</label>
                        <input type="text" class="form-control form-control-sm input" asp-for="tradingName" name="tradingName" maxlength="40">
                    </div>
                    <div class="col-2">
                        <label class="label small" asp-for="cpfCnpj">CPF/CNPJ</label>
                        <input type="text" class="form-control form-control-sm input" asp-for="cpfCnpj" name="cpfCnpj" maxlength="20">
                    </div>
                    <div class="col-2">
                        <label class="label small" asp-for="rgInscricao">RG/Inscr. Estadual</label>
                        <input type="text" class="form-control form-control-sm input" asp-for="rgInscricao" name="rgInscricao" maxlength="20">
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-4">
                        <label class="label small" asp-for="endereco">Endereço</label>
                        <input type="text" class="form-control form-control-sm input" asp-for="endereco" name="endereco" disabled maxlength="10">
                    </div>
                    <div class="col-4">
                        <label class="label small" asp-for="bairro">Bairro</label>
                        <input type="text" class="form-control form-control-sm input" asp-for="bairro" name="bairro" disabled maxlength="10">
                    </div>

                    <div class="col-2">
                        <label class="label small" asp-for="cidade">Cidade</label>
                        <input type="text" class="form-control form-control-sm input" asp-for="cidade" name="cidade" disabled maxlength="50">
                    </div>
                    <div class="col-2">
                        <label class="label small" asp-for="uf">UF</label>
                        <select asp-for="uf" class="form-select form-select-sm" disabled>
                            <option value="">Escolha...</option>
                            @foreach (var estado in ViewBag.EstadosBrasileiros as List<SelectListItem>)
                            {
                                <option value="@estado.Value">@estado.Text</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-3">
                        <label class="label small" asp-for="vendedor">Vendedor</label>
                        <input type="text" class="form-control form-control-sm input" asp-for="vendedor" name="vendedor" disabled maxlength="20">
                    </div>
                    <div class="col-3">
                        <label class="label small" asp-for="telefone">Telefone</label>
                        <input type="text" class="form-control form-control-sm input" asp-for="telefone" name="telefone" maxlength="20">
                    </div>
                    <div class="col-3">
                        <label class="label small" asp-for="atuacao">Atuação</label>
                        <select asp-for="atuacao" class="form-select form-select-sm" disabled>
                            <option value="">Escolha...</option>
                            @foreach (var atuacao in ViewBag.Atuacao as List<SelectListItem>)
                            {
                                <option value="@atuacao.Value">@atuacao.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="label small" asp-for="ramo">Ramo</label>
                        <input type="text" class="form-control form-control-sm input" asp-for="ramo" name="ramo" required maxlength="20">
                    </div>
                </div>

                <div class="row col-5 mt-4">
                    <div class="col-2" style="width:85px">
                        <button type="submit" class="btn btn-outline-success btn-sm">Pesquisar</button>
                    </div>
                    <div class="col-2">
                        <a class="btn btn-outline-danger btn-sm " data-bs-toggle="collapse" href="#collapseFiltro" role="button" aria-expanded="false" aria-controls="collapseExample">Fechar</a>
                    </div>
                </div>
            </form>


        </div>
    </div>

</div>

<table id="clientesTable" class="table table-sm">
    <thead class="table-floating-header">
        <tr>
            <th scope="col">Ação</th>
            <th scope="col">Empresa</th>
            <th scope="col">Código</th>
            <th scope="col">Razão</th>
            <th scope="col">Fantasia</th>
            <th scope="col">CPF/CNPJ</th>
            <th scope="col">RG/Insc. Estadual</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in ViewBag.Clientes)
        {
            <tr>
                <td>
                    <div align="center" style="white-space: nowrap;">
                        <a href="@Url.Action("Procurar", "Clientes", new { id =@cliente.id })" title="Procurar"><i class="fas fa-search"></i></a>
                        <a href="@Url.Action("IncluirCliente", "Clientes", new { uid = @cliente.uid })" title="Editar"><i class="fa fa-pencil-alt"></i></a>
                        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@cliente.id" data-name="@cliente.companyName" title="Excluir"><i class="fa fa-trash-alt"></i></button>
                    </div>
                </td>
                <td>@cliente.companyId</td>
                <td>@cliente.id</td>
                <td>@cliente.companyName</td>
                <td>@cliente.tradingName</td>
                <td>@cliente.taxPayerId</td>
                <td>@cliente.identificationCard</td>
            </tr>
        }
    </tbody>
</table>

<!-- Validação de campos -->
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<!-- Tela modal para a opcao de exclusão de cliente -->
<script>
    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var clientId = button.getAttribute('data-id');
        var clientName = button.getAttribute('data-name');

        var modalTitle = deleteModal.querySelector('.modal-title');
        var modalBody = deleteModal.querySelector('.modal-body #clientName');
        var clientIdInput = deleteModal.querySelector('.modal-footer #clientId');
        var deleteForm = deleteModal.querySelector('.modal-footer #deleteForm');

        modalTitle.textContent = 'Excluir Cliente: ' + clientName;
        modalBody.textContent = clientName;
        clientIdInput.value = clientId;
        deleteForm.action = '@Url.Action("ExcluirCliente", "Clientes")';
    });
</script>
